@use "../abstracts/breakpoints";
@use "../abstracts/mixins";

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--line);
}

@include mixins.media-max(breakpoints.$mobile) {
  .topbar {
    align-items: flex-start;
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }
}
